In [2]:
import os
import pandas as pd
import numpy as np
from numpy.linalg import inv

%matplotlib inline    
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.getcwd()

'/Users/dandipeng/Documents/Programming/machinelearning'

In [6]:
# different ways to read data
os.chdir(os.getcwd()+'/Practice')
meta = pd.read_csv('ecs171.dataset.txt', sep = "\s+", header= 0)

cars = pd.read_csv('auto-mpg.data.txt', sep = "\s+", header= None, 
                   names = ["mpg", "cylinders", "displacement", "horsepower", "weight", 
                            "acceleration", "model_year", "origin", "car_name"])

In [11]:
# convert the "?" to Nan
cars["horsepower"] = pd.to_numeric(cars["horsepower"], errors='coerce')
# drop the Nan
cars = cars.dropna().reset_index(drop = True)

In [13]:
# dimention of table
meta.shape

(194, 4501)

In [16]:
# type of variables
cars.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [ ]:
# change types of column
# convert all DataFrame columns to the int64 dtype
df = df.astype(int)

# convert column "a" to int64 dtype and "b" to complex type
df = df.astype({"a": int, "b": complex})


df['MeanTemperatureCT']= df['MeanTemperatureCT'].astype(str)

In [14]:
cars.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [ ]:
# like pair in r
sns.set(style="ticks")

sns.pairplot(cars[cars.columns.difference(["mpg","car_name"])],
             hue="mpg_level", palette="husl", diag_kind = "hist",
             diag_kws = {"color": 'lightblue', 'edgecolor':'lightblue',"linewidth":1})

In [ ]:
# transpose
x1 = np.array([x]).T

In [15]:
?np.where

In [ ]:
# tolist
meta.columns.tolist()

In [24]:
# filter out different columns
meta.iloc[:,:6].columns.difference(['Medium','GrowthRate'])

Index(['GenePerturbed', 'ID', 'Strain', 'Stress'], dtype='object')

In [ ]:
# check Nulls
df.isnull().sum()

In [ ]:
# like groupby in SQL
df.groupby(['class']).size()

In [ ]:
# append by rows (axis = 0) or columns (axis = 1)
np.append(self.X, self.x1 ** i,axis = 1)
# matrix multiply
np.matmul(np.matmul(inv(np.matmul(self.X.T,self.X)), self.X.T),self.y)
# calculate average and so on
np.average((y_tr.values-y_hat)**2)
np.std()

In [ ]:
# list comprehension
[i in [m.lower() for m in agency.agencyname] for i in \
 [reduce(lambda x,y: x+y, j.lower().split()) for j in gsa.iloc[8,37:][~gsa.iloc[:,37:].isnull().iloc[8,:]]]]

In [ ]:
"""
Training and Test set split
Split the data into training set(200/392) and testing set(192/392)
"""
from sklearn.model_selection import train_test_split

train, test = train_test_split(cars, test_size = 192/392, random_state = 1)

## get the train and test data set
X_tr = train[train.columns.difference(['mpg','car_name','mpg_level'])]
y_tr = train.loc[:, 'mpg']
y_tr_log = train.loc[:, 'mpg_level']

X_te = test[test.columns.difference(['mpg','car_name','mpg_level'])]
y_te = test.loc[:, 'mpg']
y_te_log = test.loc[:, 'mpg_level']

In [19]:
# list
position =[]
# list append
for i in range(0,4):
    for j in range(0,2):
        position.append(i)
        position.append(j)
        
position

[0, 0, 0, 1, 1, 0, 1, 1, 2, 0, 2, 1, 3, 0, 3, 1]

In [ ]:
# sql


# numpy
# append
# multiple
# 


# pandas
# create dataframe
pd.DataFrame(lst_in_list)
df.transpose()

pd.DataFrame({'MSE_train':MSE_tr_X, 'MSE_test':MSE_te_X})
# append by row(axis = 0) or column (axis = 1)
pd.concat([df_a,df_b], axis=1)
# .iloc .loc
# 


# train test split

In [21]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
                   columns=['a', 'b', 'c', 'd', 'e'])
df2

   a  b  c  d  e
0  8  5  0  8  4
1  1  0  0  3  4
2  8  0  1  0  3
3  4  2  1  4  3
4  0  8  6  8  1

In [ ]:
# logistic regression
from sklearn.linear_model import LogisticRegression
Logreg = LogisticRegression()
Logreg.fit(X_tr.values,y_tr_log.values)

In [ ]:
y_pred_log = Logreg.predict(X_te.values)

In [ ]:
# Logreg.score
print('Accuracy of logistic regression classifier on training set: {:.10f}'.
      format(Logreg.score(X_tr.values, y_tr_log.values)))
print('Accuracy of logistic regression classifier on test set: {:.10f}'.
      format(Logreg.score(X_te.values, y_te_log.values)))